Deploying ML Models as APIs/Model/
Quantisation and Pruning/Data/
Quantisation and Pruning/Output_Dir/
Quantisation and Pruning/Saved_Model/
16. Hands-On Machine Learning With Scikit-learn Keras and Tensorflow/ML_Venv/
17. Tensorflow Developer Certification Notes/Models/
17. Tensorflow Developer Certification Notes/Data/
17. Tensorflow Developer Certification Notes/TensorBoard/
17. Tensorflow Developer Certification Notes/Checkpoint/
17. Tensorflow Developer Certification Notes/Exercises/Checkpoint/
17. Tensorflow Developer Certification Notes/Exercises/TensorBoard/
17. Tensorflow Developer Certification Notes/extras/
17. Tensorflow Developer Certification Notes\~